#about {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  background: rgb(36, 36, 36);
  background: linear-gradient(
    180deg,
    rgba(36, 36, 36, 0.4) 8%,
    rgba(38, 38, 38, 0.4) 33%,
    rgba(41, 41, 41, 0.4) 61%,
    rgba(53, 53, 53, 0.4) 80%
  );
  animation: transition-down-slow 2.2s ease forwards;
}

#about-container {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  justify-content: end;
}

#me-picture {
  width: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
}

#me-picture img {
  width: 500px;
}

#about-description {
  justify-content: center;
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about h1 {
  text-align: left;
  font-size: 70px;
  margin-bottom: 0.4em;
}

#about h1::after {
  width: 10%;
}

#about-h1-container {
  width: 80%;
}

#about-text {
  width: 80%;
}

.about-p {
  margin-bottom: 1em;
  font-size: 18px;
}

#p-3 {
  margin-bottom: 1.8em;
}

.border-img {
  position: absolute;
  animation: border-animation 2.2s ease forwards;
  top: -25px;
  left: -50px;
  background-color: #24948e;
}

#border-2 {
  transform-origin: 0% 0%;
  transform: rotate(270deg);
}

.first-letter {
  font-size: 21px;
}

#about-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

/* smaller desktops */
@media (max-width: 1450px) {
  #me-picture {
    justify-content: center;
  }

  #me-picture img {
    width: 450px;
    justify-content: center;
  }

  .border-img {
    left: 0;
  }

  #about-container {
    flex-basis: 45%;
  }

  #about-description {
    flex-basis: 55%;
  }

  #about-btn-container {
    gap: 20px;
    flex-wrap: wrap;
  }

  #about-button {
    font-size: 12px;
  }

  .about-p {
    font-size: 16px;
  }

  .first-letter {
    font-size: 17px;
  }

  #about-text {
    width: 100%;
  }
}

/* tablets */
@media (max-width: 1024px) {
  #about {
    flex-direction: column-reverse;
  }

  #about > div {
    width: 100%;
    justify-content: center;
  }

  #about-description {
    margin-bottom: 4em;
  }

  #me-picture {
    margin-bottom: 1.5em;
  }

  #me-picture img {
    width: 400px;
  }

  #about-text {
    width: 90%;
  }

}

/* smartphones */
@media (max-width: 768px) {
#about-h1-container {
  width: 90%
}

  #about h1 {
   font-size: 56px;
  }

  #about h1::after {
    width: 25%;
  }

  #me-picture img {
    width: 270px;
  }

  .border-img{
    top: -20px;
  }

  .about-p {
    font-size: 14px;
  }

  .first-letter {
    font-size: 15px;
  }
}

@keyframes border-animation {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 10px;
    height: 50%;
  }
}
