#home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  background: rgb(36, 36, 36);
  background: linear-gradient(
    180deg,
    rgba(36, 36, 36, 0.4) 8%,
    rgba(38, 38, 38, 0.4) 33%,
    rgba(41, 41, 41, 0.4) 61%,
    rgba(53, 53, 53, 0.4) 80%
  );
}

#main-container {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
  opacity: 0;
  animation: transition-down-slow 3s ease forwards;
}

#main-container > div {
  width: 80%;
}

#main-title-container {
  width: 100%;
  margin-bottom: 1.5em;
}

#greetings {
  font-size: 20px;
  color: rgb(235, 232, 232);
}

#home h1 {
  font-size: 52px;
}

#type {
  color: #8b22fc;
}

#home h2 {
  font-size: 46px;
  font-weight: 550;
  color: rgb(224, 219, 219);
}

#main-description {
  font-size: 24px;
  font-weight: 300;
  color: #e0dfdf;
}

#main-description p {
  margin-bottom: 1.5em;
}

#decoration-container {
  flex-basis: 45%;
}

.moon-container {
  height: 100%;
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
}

#moon {
  display: block;
  margin: 0 auto;
  width: 550px;
  height: 550px;
  opacity: 0;
  animation: moon-animation 1.2s ease 0.2s forwards;
}

#rocket-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  animation: opacity-animation 0.6s ease-out 1s forwards;
}

.binary-numbers-1,
.binary-numbers-2,
.binary-numbers-3 {
  position: absolute;
}

#decoration-container span {
  display: inline-block;
  font-size: 46px;
  font-family: "Roboto";
  margin-right: 15px;
  z-index: 2;
  opacity: 0.5;
  color: #9636fc;
}

.binary-numbers-1 {
  top: 25px;
  left: 15%;
  opacity: 0;
  animation: opacity-animation 0.6s ease-out 1.6s forwards;
}

.binary-numbers-2 {
  top: 50%;
  right: 10px;
  opacity: 0;
  animation: opacity-animation 0.6s ease-out 2s forwards;
}

.binary-numbers-3 {
  bottom: 35px;
  left: 2%;
  opacity: 0;
  animation: opacity-animation 0.6s ease-out 2.4s forwards;
}

.binary-1,
.binary-3,
.binary-5 {
  margin-bottom: 0.4em;
}

.b1,
.b4,
.b7,
.b10,
.b12,
.b14,
.b17 {
  animation: levitate-1 5s ease infinite;
}

.b2,
.b5,
.b6,
.b9,
.b13,
.b18 {
  animation: levitate-2 5s ease infinite;
}

.b3,
.b5,
.b8,
.b11,
.b12,
.b15,
.b16 {
  animation: levitate-3 5s ease infinite;
}

/* smaller desktops */
@media (max-width: 1450px) {
  #main-container {
    flex-basis: 60%;
  }

  #moon {
    height: 500px;
    width: 500px;
  }
}

/* tablets */
@media (max-width: 1024px) {
  #home {
    flex-direction: column;
    gap: 30px;
  }

  #main-container {
    margin-top: 0.6em;
  }

  #main-container > div {
    width: 82%;
  }

  #home h1 {
    font-size: 48px;
  }

  #home h2 {
    font-size: 42px;
  }

  #main-description {
    font-size: 22px;
  }

  .binary-numbers-3 {
    left: 8%;
  }
}

/* smartphones */
@media (max-width: 768px) {
  #home {
    gap: 0;
  }

  #main-container > div {
    justify-content: center;
    width: 92%;
    padding: 10px;
  }

  #greetings {
    font-size: 16px;
    margin-bottom: 0.2em;
  }

  #home h1 {
    font-size: 36px;
  }

  #home-span {
    display: block;
  }

  #home h2 {
    font-size: 32px;
  }

  #main-title-container {
    margin-bottom: 0.5em;
  }

  #main-description {
    font-size: 18px;
  }

  #moon {
    width: 310px;
    height: 310px;
  }

  #decoration-container span{
    font-size: 36px;
    opacity: .7;
  }

  #rocket-animation {
    width: 100px;
  }

  #home-button-container {
    display: flex;
    align-items: center;
  }
}

@keyframes levitate-1 {
  0% {
    transform: translateY(0); /* Posição inicial */
  }
  50% {
    transform: translateY(-6px); /* Mover um pouco para cima */
  }
  100% {
    transform: translateY(0); /* Voltar para a posição original */
  }
}

@keyframes levitate-2 {
  0% {
    transform: translateY(0); /* Posição inicial */
  }
  50% {
    transform: translateY(-3px); /* Mover um pouco para cima */
  }
  100% {
    transform: translateY(0); /* Voltar para a posição original */
  }
}

@keyframes levitate-3 {
  0% {
    transform: translateY(0); /* Posição inicial */
  }
  50% {
    transform: translateY(-8px); /* Mover um pouco para cima */
  }
  100% {
    transform: translateY(0); /* Voltar para a posição original */
  }
}
