#home {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  overflow-x: auto;
  background: rgb(36, 36, 36);
  background: linear-gradient(
    180deg,
    rgba(36, 36, 36, 0.4) 8%,
    rgba(38, 38, 38, 0.4) 33%,
    rgba(41, 41, 41, 0.4) 61%,
    rgba(53, 53, 53, 0.4) 80%
  );
}

#main-container {
  flex-basis: 55%;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-container > div {
  width: 70%;
}

#main-title-container {
  width: 85%;
  margin-bottom: 1.5em;
}

#greetings {
  font-size: 20px;
  color: rgb(235, 232, 232);
}

#home h1 {
  font-size: 52px;
}

#home h1 span {
  color: #8b22fc;
}

#home h2 {
  font-size: 46px;
  font-weight: 550;
  color: rgb(224, 219, 219);
}

#main-description {
  font-size: 22px;
  font-weight: 300;
  color: #e0dfdf;
}

#main-description p {
  margin-bottom: 1.5em;
}

#main-button {
  background: linear-gradient(
    90deg,
    rgba(109, 3, 221, 1) 10%,
    rgba(29, 120, 116, 1) 56%,
    rgba(29, 120, 116, 1) 90%
  );
  color: #fff;
  width: 270px;
  height: 60px;
}

#decoration-container {
  flex-basis: 45%;
}

.moon-container {
  padding-top: 15%;
  height: 100%;
  width: 100%;
}

#moon {
  display: block;
  margin: 0 auto;
  width: 550px;
  height: 550px;
  opacity: 0.9;
}

#rocket-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.binary-numbers-1,
.binary-numbers-2,
.binary-numbers-3 {
  position: absolute;
}

#decoration-container span {
  display: inline-block;
  font-size: 46px;
  font-family: "Roboto";
  margin-right: 15px;
  z-index: 2;
  opacity: 0.5;
  color: #9636FC
}

.binary-numbers-1 {
  top: 25px;
  left: 15%;
}

.binary-numbers-2 {
  top: 50%;
  right: 10px;
}

.binary-numbers-3 {
  bottom: 30px;
  left: 2%;
}

.binary-1,
.binary-3,
.binary-5 {
  margin-bottom: 0.4em;
}

.b1,
.b4,
.b7,
.b10,
.b12,
.b14,
.b17 {
  animation: levitate-1 5s ease infinite;
}

.b2,
.b5,
.b6,
.b9,
.b13,
.b18 {
  animation: levitate-2 5s ease infinite;
}

.b3,
.b5,
.b8,
.b11,
.b12,
.b15,
.b16 {
  animation: levitate-3 5s ease infinite;
}

@keyframes levitate-1 {
  0% {
    transform: translateY(0); /* Posição inicial */
  }
  50% {
    transform: translateY(-6px); /* Mover um pouco para cima */
  }
  100% {
    transform: translateY(0); /* Voltar para a posição original */
  }
}

@keyframes levitate-2 {
  0% {
    transform: translateY(0); /* Posição inicial */
  }
  50% {
    transform: translateY(-3px); /* Mover um pouco para cima */
  }
  100% {
    transform: translateY(0); /* Voltar para a posição original */
  }
}

@keyframes levitate-3 {
  0% {
    transform: translateY(0); /* Posição inicial */
  }
  50% {
    transform: translateY(-8px); /* Mover um pouco para cima */
  }
  100% {
    transform: translateY(0); /* Voltar para a posição original */
  }
}

