header,
#logo,
nav ul,
menu {
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 8vh;
  justify-content: space-between;
  padding: 10px;
  background: rgba(33, 33, 33, .95);
  border-bottom: 2px solid #272727;
}

#logo {
  width: 40%;
  font-size: 20px;
  padding-left: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

#logo span {
  color: #6D03DD;
  font-weight: 800;
  padding-right: 2px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

nav {
  width: 40%;
}

nav ul {
  list-style: none;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
}

.nav-item {
  cursor: pointer;
}

menu {
  display: none;
  font-size: 32px;
  padding: 20px;
  cursor: pointer;
}

/* navbar animation */
nav a {
  position: relative;
  text-decoration: none;
  color: #24948e;
  padding: 8px 10px;
  display: inline-block;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #24948e;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

/* logo shake animation */
#logo:hover span {
  animation: shakeAnimation 0.3s ease-in-out;
}

@keyframes shakeAnimation {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px) rotate(-2deg); }
  50% { transform: translateX(2px) rotate(2deg); }
  75% { transform: translateX(-2px) rotate(-2deg); }
  100% { transform: translateX(0); }
}

/* smaller desktops */
@media (max-width: 1200px) {
  #logo {
    padding: 0 1.5em;
    width: 20%;
    font-size: 22px;
  }

  nav {
    width: 60%;
  }

  nav ul {
    gap: 15px;
    font-size: 16px;
  }

  #contact-button-container {
    width: 20%;
    justify-content: center;
  }

  #contact-button {
    margin: 0;
    width: 95%;
  }
}

/* tablets and smartphones - menu burger */
@media (max-width: 1024px) {
  #logo {
    width: 50%;
    font-size: 24px;
  }

  menu {
    display: block;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav,
  #contact-button-container {
    display: none;
  }
}

/* smaller height */
@media (max-height: 700px){
  #logo {
    font-size: 20px;
  }
}