header,
#logo,
nav ul,
menu {
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 8vh;
  justify-content: space-between;
  padding: 10px;
  background: rgba(33, 33, 33, .95);
  border-bottom: 2px solid #272727;
}

#logo {
  width: 40%;
  font-size: 20px;
  padding-left: 3em;
  justify-content: center;
  font-weight: 300;
}

.header-span {
  color: #8b22fc;
  font-weight: 800;
  padding-right: 3px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

nav {
  width: 40%;
}

nav ul {
  list-style: none;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
}

.nav-item {
  cursor: pointer;
}

menu {
  display: none;
}

/* navbar animation */
nav a {
  position: relative;
  text-decoration: none;
  color: #24948e;
  padding: 8px 10px;
  display: inline-block;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(175, 173, 173);
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

/* navbar animation */
#nav-1 {
  animation: transition-down .8s ease-in-out forwards;
}

#nav-2 {
  animation: transition-down 1.2s ease-in-out forwards;
}

#nav-3 {
  animation: transition-down 1.6s ease-in-out forwards;
}

#nav-4 {
  animation: transition-down 2s ease-in-out forwards;
}

#nav-5 {
  animation: transition-down 2.4s ease-in-out forwards;
}

#nav-logo > p {
  animation: transition-down .8s ease-in-out forwards;
}

#logo:hover span {
  animation: shakeAnimation 0.3s ease-in-out;
}

/* smaller desktops */
@media (max-width: 1450px){
  #nav-desktop {
    width: 65%;
  }
}

/* tablets */
@media (max-width: 1024px){
#logo {
  width: 300px;
  padding-left: 1em;
  justify-content: start;
}

#nav-desktop {
  width: 80%;
}

#nav-desktop ul {
  gap: 15px;
  justify-content: end;
}
}

/* smartphones */
@media (max-width: 768px){
  #logo {
    padding-left: .5em;
  }

  #nav-desktop {
    display: none;
  }

  menu {
    display: block;
    padding-right: .5em;
  }
}

/* animations */
@keyframes shakeAnimation {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px) rotate(-2deg); }
  50% { transform: translateX(2px) rotate(2deg); }
  75% { transform: translateX(-2px) rotate(-2deg); }
  100% { transform: translateX(0); }
}

@keyframes transition-down {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}
