#languages .section-subtitle-container {
  margin-bottom: 3.5em;
}

#languages-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.languages-card {
  width: 230px;
  height: 280px;
  border-radius: 14px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px #6D03DD, -1px -1px 10px #24948E;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 1s;
}

#languages i,
.tech-name,
.hidden-card {
  z-index: 2;
}

#languages i {
  font-size: 60px;
  text-align: center;
}

.tech-name {
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  color: #b6b4b4;
}

.hidden-card {
  opacity: 0;
  position: absolute;
  width: 80%;
  display: flex;
  flex-direction: column;
  transform: scaleX(-1);
  transition: opacity 0.4s ease-in-out;
}

.back-icon {
  margin: 0 auto 1.5em auto;
  background-color: rgb(85, 85, 85);
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.tech-back-name {
  text-align: center;
  margin-bottom: 1em;
  font-size: 18px;
}

.tech-description {
  text-align: center;
  font-size: 14px;
  color: #c9c6c6;
}

.card-icon-wrapper i,
.tech-name {
  animation: fade-out 2s ease-in-out;
}

.languages-card:hover {
  transform: perspective(1000px) rotateY(180deg);
}

.languages-card:hover .hidden-card {
  opacity: 1;
}

.languages-card:hover .card-icon-wrapper i,
.languages-card:hover .tech-name {
  animation: fade-in 0.2s ease-in-out forwards;
}

/* animations */
.bg {
  position: absolute;
  width: 220px;
  height: 270px;
  z-index: 2;
  background: #242424;
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid #242424;
}

@keyframes fade-in {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
