#social-footer {
    position: fixed;
    bottom: 0;
    left: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
    animation: transition-down-slow 3s ease forwards;
  }
  
  .vertical-line {
    width: 1px;
    height: 100px;
    background-color: #808080;
    margin-top: 0.5em;
  }
  
  .footer-icon {
    color: #afaeae;
    font-size: 22px;
  }

/* smartphones */
@media (max-width: 768px){
  #social-footer {
    display: none;
  }
}