/* buttons */
#category-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 4em;
  margin-top: 2em;
}

/* project cards */
.project-cards-container {
  width: 95%;
  margin: 0 auto 3em auto;
  height: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #242424;
  border: 2px solid #302f2f;
  padding: 50px;
  border-radius: 10px;
}

.project-card {
  background: #212121;
  background: linear-gradient(
    90deg,
    rgba(33, 33, 33, 1) 15%,
    rgba(37, 37, 37, 1) 49%,
    rgba(38, 38, 38, 1) 91%
  );
  width: 360px;
  height: 470px;
  border: 2px solid #242424;
  border-bottom-color: #6d03dd;
  border-left: 4px solid #1f1f1f;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 2.5em;
}

.project-image-container {
  width: 100%;
  height: 40%;
  background-size: 100%;
  margin-bottom: 1em;
  position: relative;
}

.project-image-background {
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.project-card,
.project-image-background {
  border-top-right-radius: 20px;
}

.project-button {
  border: 5px solid rgb(34, 146, 140);
  border-radius: 5px;
  background-color: transparent;
  transition: 0.5s;
  width: 60%;
  height: 65px;
  background-color: rgba(36, 177, 170, 0.6);
  font-size: 24px;
  font-weight: 650;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  transition: left 0.8s ease, opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.project-info-container {
  min-height: 200px;
  max-height: 200px;
}

.card-top-container {
  display: flex;
  justify-content: space-between;
}

.acess-icons-container {
  display: flex;
  gap: 14px;
  padding-right: 10px;
}

.acess-icon {
  cursor: pointer;
  font-size: 19px;
}

.fa-github {
  font-size: 20px;
}

.project-title-wrapper {
  width: 60%;
  height: 30px;
  min-height: fit-content;
  padding: 4px;
  background-color: #6d03dd;
  border-bottom: 2px solid #6d03dd;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
  margin-bottom: 0.5em;
  transition: width 0.3s ease;
}

.project-card h3 {
  text-align: center;
}

.project-description {
  padding: 12px;
  font-size: 14px;
  min-height: 150px;
}

.line {
  width: 75%;
  height: 2px;
  background-color: #2e2d2d;
  margin: 0 auto 1em auto;
}

.project-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.project-card i {
  color: #808080;
  transition: 0.3s;
}

.project-icons i {
  font-size: 18px;
}

/* hover animations */
.project-card:hover .project-title-wrapper {
  width: 75%;
}

.project-card:hover .project-image-background {
  filter: blur(3px);
}

.project-card:hover .project-button {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1; /* shows the button */
  visibility: visible;
}

.project-card:hover .line {
  background-color: #353434;
}

.project-button:hover {
  cursor: pointer;
}

.project-card:hover i {
  color: #dfdfdf;
}

.footer-icon:hover {
  color: #e7e3e3;
}

/* slide in animation */
.project-cards-container {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.project-cards-container.active-animation {
  opacity: 1;
  transform: translateX(0);
}

#project-footer-1 {
  position: absolute;
  bottom: 0;
  left: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.vertical-line {
  width: 1px;
  height: 150px;
  background-color: #808080;
  margin-top: 0.5em;
}

.footer-icon {
  color: #afaeae;
  font-size: 22px;
}

#project-footer-2 {
  position: absolute;
  bottom: 12px;
}

#project-footer-2 p {
  color: rgb(219, 213, 213)
}
